[defaults]
# Default to no fact gathering because it's slow and "explicit is better
# than implicit". Depending how you use variables, you may rather explicitly
# define variables instead of relying on facts. You can enable this on
# a per-playbook basis with `gather_facts: yes`.
gathering = explicit

hostfile = ./inventory

# Do not save retry files
retry_files_enabled = False

# Disable cowsay integration
nocows = 1

callback_whitelist = profile_tasks,timer

[ssh_connection]
pipelining = True
control_path = %(directory)s/ssh-%%h-%%p-%%r
